{{#each this}}
<div class="flag-block">
  <img src="{{flags.svg}}" alt="">
  <h3>{{name.official}}</h3>
</div>
<p><span>Capital: </span>{{capital}}</p>
<p><span>Population: </span>{{population}}</p>
<p><span>Languages: </span>{{#each languages}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</p>
{{/each}}